@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --font-sans: var(--font-manrope);
}

/*  小孝挟 小 校效校 */
@layer utilities {
  .font-display {
    font-family: var(--font-unbounded), sans-serif !important;
  }
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
  }
}
